@import '~antd/dist/antd.css';

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.white {
    color: #FFFFFF;
}

.title-bar {
    background-color: #455A64;
    color: #FFFFFF;
    min-height: 48px;
    max-height: 48px;
    align-items: center;
}

.menu-bar {
    background-color: #607D8B;
    color: #FBFCFC;
}

.tool-bar {
    min-width: 300px;
    max-width: 300px;
    background-color: #ECEFF1;
    overflow: auto;
}

.vcenter {
    align-items: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.grow {
    flex-grow: 1;
}

.no-mar {
    margin: unset;
}

.mar-auto-left {
    margin-left: auto;
}

.mar-auto-right {
    margin-right: auto;
}

.mar-8 {
    margin: 8px;
}

.mar-top-8 {
    margin-top: 8px;
}

.mar-bottom-8 {
    margin-bottom: 8px;
}

.mar-top-16 {
    margin-top: 16px;
}

.mar-left-8 {
    margin-left: 8px;
}

.mar-left-16 {
    margin-left: 16px;
}

.mar-right-8 {
    margin-right: 8px;
}

.mar-right-16 {
    margin-right: 16px;
}

.mar-16 {
    margin: 16px;
}

.pad-8 {
    padding: 8px;
}

.pad-top-8 {
    padding-top: 8px;
}

.pad-bottom-8 {
    padding-bottom: 8px;
}

.pad-16 {
    padding: 16px;
}

.pad-left-12 {
    padding-left: 12px;
}

.designer {
    max-height: calc(100vh - 48px);
}

.content-wrapper {
    background-image: radial-gradient(lightgray 20%, transparent 20%);
    background-position: 0 0;
    background-size: 6px 6px;
    display: flex;
    flex: 1;
    min-height: 0;
    min-width: 0;
    z-index: 3;
}

.overflow-container {
    flex: 1;
    overflow: auto;
}

.overflow-content {
    height: 8000px;
    width: 8000px;
    position: relative;
}

.properties-text-area {
    resize: none;
    background-color: #455A64;
    color: #ECEFF1;
}